@using Microsoft.AspNet.Identity
@model arm_repairs_project.Models.Demands
@{
    ViewBag.Title = "Заявки на ремонт";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<h2>Заявки на ремонт</h2>
<div class="row">
    <div class="col-xs-12">
        @if (TempData["success"] != null)
        {
            <div class="alert alert-success">
                <p>@TempData["success"].ToString()</p>
            </div>
        }
        @if (TempData["errors"] != null)
        {
            <div class="alert alert-danger">
                <p>@TempData["errors"].ToString()</p>
            </div>
        }

        <div class="panel panel-default">
            <table class="table table-condensed table-hover table-responsive table-striped">
                <colgroup>
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col class="col-width-30" />
                </colgroup>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Дата</th>
                        <th>Пользователь</th>
                        <th>Исполнитель</th>
                        <th>Приоритет</th>
                        <th>Статус</th>
                        <th>Описание</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.DemandsList.Any())
                    {
                        foreach (var demand in Model.DemandsList)
                        {
                            <tr>
                                <td>@demand.Id</td>
                                <td title="@demand.Date.ToString("G")">@demand.Date.ToString("d")</td>
                                <td>@demand.User.Fio</td>
                                <td>
                                    @if (demand.Master != null)
                                    {
                                        @demand.Master.Fio
                                    }
                                    else
                                    {
                                        <span>Не указан</span>
                                    }
                                </td>
                                <td>@demand.Priority.Caption</td>
                                <td>@demand.Status.Caption</td>
                                <td>@demand.DescriptionIssue</td>
                                <td>
                                    @if (User.Identity.GetUserId() == demand.Master?.Id)
                                    {
                                        <a href="@Url.Action("DemandEdit", "Master", new {@id = demand.Id})" title="Редактировать"><i class="fa fa-pencil-square-o  fa-lg"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td colspan="8" style="text-align: center">В системе не зарегистрированно ни одной заявки</td></tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
